/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft red: hsl(10, 79%, 65%)
- Cyan: hsl(186, 34%, 60%)

### Neutral

- Dark brown: hsl(25, 47%, 15%)
- Medium brown: hsl(28, 10%, 53%)
- Cream: hsl(27, 66%, 92%)
- Very pale orange: hsl(33, 100%, 98%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [DM Sans](https://fonts.google.com/specimen/DM+Sans)
- Weights: 400, 700 */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  background-color: hsl(27, 66%, 92%);
}

main {
  height: 100vh;
  display: flex;
}
main .container {
  margin: auto;
  display: grid;
  place-content: center;
}
main .container header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: hsl(10, 79%, 65%);
  border-radius: 10px;
  padding: 1rem;
}
main .container header .balance {
  color: hsl(33, 100%, 98%);
}
main .container header h1 {
  font-size: 0.9rem;
  font-weight: 300;
}
main .container header span {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 0;
}
main .container header .logo {
  justify-self: end;
}
main .container header .logo img {
  width: 50px;
  height: 50px;
}
main .container .chart {
  background-color: hsl(33, 100%, 98%);
  margin-top: 1.2rem;
  border-radius: 15px;
  padding: 2rem;
}
main .container .chart .chart-container {
  margin-bottom: 2rem;
}
main .container .chart .chart-container h1 {
  margin: 0 0 5rem 0;
  font-size: 1.4rem;
}
main .container .chart .chart-container .flex {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
}
main .container .chart .chart-container .flex .day {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 0.8rem;
  color: rgba(128, 128, 128, 0.813);
  padding: 0.5rem;
  padding: 0.5rem;
}
main .container .chart .chart-container .flex .day span {
  background-color: hsl(10, 79%, 65%);
  border-radius: 5px;
  margin-bottom: 0.4rem;
}
main .container .chart .chart-container .flex .day span:hover {
  background-color: hsla(10, 79%, 65%, 0.445);
  cursor: pointer;
  position: relative;
}
main .container .chart .chart-container .flex .day span:hover::before {
  content: attr(data-content);
  position: absolute;
  top: -50px;
  left: -12px;
  background-color: black;
  color: hsl(33, 100%, 98%);
  padding: 0.8rem 0.4rem;
  border-radius: 5px;
  font-weight: 600;
}
main .container .chart .chart-container .flex .day span.one {
  width: 40px;
  height: 35px;
}
main .container .chart .chart-container .flex .day span.two {
  width: 40px;
  height: 70px;
}
main .container .chart .chart-container .flex .day span.three {
  width: 40px;
  height: 105px;
  background-color: hsl(186, 34%, 60%);
}
main .container .chart .chart-container .flex .day span.three:hover {
  background-color: hsla(186, 34%, 60%, 0.44);
}
main .container .chart .chart-container .flex .day span.four {
  width: 40px;
  height: 60px;
}
main .container .chart .chart-container .flex .day span.five {
  width: 40px;
  height: 45px;
}
main .container .chart .chart-container .flex .day span.six {
  width: 40px;
  height: 85px;
}
main .container .chart .chart-container .flex .day span.seven {
  width: 40px;
  height: 50px;
}
main .container .chart hr {
  border: 1px solid hsla(28, 10%, 53%, 0.298);
}
main .container .chart .total-container {
  margin-top: 2rem;
}
main .container .chart .total-container h1 {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(128, 128, 128, 0.813);
  margin: 0 0 0.3rem 0;
}
main .container .chart .total-container .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container .chart .total-container .total span {
  font-size: 2rem;
  font-weight: 600;
}
main .container .chart .total-container .total .total-month {
  display: flex;
  flex-direction: column;
  align-items: end;
}
main .container .chart .total-container .total .total-month span {
  font-size: 0.8rem;
}
main .container .chart .total-container .total .total-month p {
  margin: 0;
  color: rgba(128, 128, 128, 0.813);
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */